name: CI - macOS (Manual)

on:
  workflow_dispatch:

jobs:
  test-macos:
    uses: ./.github/workflows/test.yml
    with:
      os: macos-latest
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
