name: Test Suite

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
        description: 'Operating system to run tests on'
    secrets:
      CODECOV_TOKEN:
        required: false
        description: 'Codecov upload token'

jobs:
  test:
    runs-on: ${{ inputs.os }}
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.1', '3.2', '3.3', '3.4']

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Display Ruby version
      run: ruby --version

    - name: Run tests
      run: bundle exec rake test
      env:
        COVERAGE: 1

    - name: Debug Codecov token
      if: runner.os == 'Linux' && matrix.ruby == '3.4'
      run: |
        if [ -z "${{ secrets.CODECOV_TOKEN }}" ]; then
          echo "Token is EMPTY"
        else
          echo "Token length: ${#CODECOV_TOKEN}"
          echo "Token MD5: $(echo -n "$CODECOV_TOKEN" | md5sum | cut -d' ' -f1)"
        fi
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    - name: Upload coverage to Codecov
      if: runner.os == 'Linux' && matrix.ruby == '3.4'
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true

    - name: Upload coverage report artifact
      if: runner.os == 'Linux' && matrix.ruby == '3.4'
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: coverage/
        retention-days: 30
